body {
    margin: 0;
}

html {
    font-size: 16px;
}

html, body, section {
    background-color: #F0F0F0;
}

pre.prettyprint:not(pre.source) {
    width: auto;
    border: 1px solid lightgrey;
    padding: 10px;
}

p > code, .description code {
    background-color: lightgray;
}

h4.name {
    border-radius: 7px;
    padding: 4px 10px;
    background-color: rgb(16, 71, 70);
    color: rgb(136, 191, 190);
    font-size: 24px;
}

div#main {
    margin-left: 280px;
    float: none;
}

code {
    border-radius: 3px;
    padding: 2px 4px;
}

nav {
    background-color: #222;
    padding: 10px 20px 20px 20px;
    width: auto;
    top: 0;
    bottom: 0;
    position: fixed;
    font-size: 18px;
    margin-top: 0px;
    line-height: 24px;
    float: none;
    overflow-y: auto;
}

nav h2 a,
nav h2 a:visited,
nav div.home-link a,
nav div.home-link a:visited {
    width: 100%;
    color: Gold;
}

nav ul li a,
nav ul li a:visited {
    color: #EEE;
    font-size: 17px;
}

nav ul li a:hover {
    color: #CC0;
}

nav h3 {
    color: LightGreen;
    font-size: 18px;
}

nav h2 {
    font-size: 20px;
}

.nav li a {
    color: white !important;
}

.home-link {
    padding-top: 20px;
}

.home-link a {
    font-size: 16px;
    font-weight: bold;
}

table.params th:first-child,
table.props th:first-child {
    border-top-left-radius: 5px;
}

table.params th:last-child,
table.props th:last-child {
    border-top-right-radius: 5px;
}

table.params th,
table.props th {
    padding: 10px;
    border: none;
    border-right: 1px solid #F5F5F5;
}

table.params th,
table.props th {
    font-family: 'Verdana';
    font-weight: normal;
}

table.params {
    th {
        background-color: SteelBlue;
        color: White;
    }
}

table.props {
    th {
        background-color: DarkCyan;
        color: White;
    }

    td.default {
        text-align: center;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html, body, section {
        color: #A0A0A0;
        background-color: #151515;
    }

    section article pre.prettyprint.source:not(.linenums) code {
        padding: 20px;
    }

    section article pre.prettyprint.source {
        border-color: #707070;

        code {
            background-color: #252525;
        }
    }

    p {
        color: #A0A0A0;
    }

    h2 {
        color: #718c00;
    }

    h3 {
        color: skyblue;
    }

    table.params {
        th {
            border-color: #707070;
            background-color: #24425C;
            color: #A0A0A0;
        }

        td {
            border-color: #707070;
        }
    }

    table.props {
        th {
            border-color: #707070;
            background-color: #24425C;
            color: #A0A0A0;
        }

        td {
            border-color: #707070;
        }

        td.name code {
            color: pink;
        }

        td.type {
            color: yellowgreen;
        }

        td.attributes {
            color: seagreen;
        }

        td.default {
            color: gold;
        }
    }

    table.params th,
    table.props th {
        /*border: 1px solid #A0A0A0;*/
        color: #C0C0C0;
    }

    table.params td.name code,
    table.params td.type {
        color: pink;
    }

    h4.name {
        background-color: #070707;
        color: rgb(136, 191, 190);
    }

    pre.prettyprint:not(pre.source) {
        border-color: #707070;
        background-color: #252525;
    }

    pre.prettyprint code {

        .pln, .pun {
            color: #D0D0D0;
        }

        .com {
            color: #707070;
        }

        .str {
            color: #619552;
        }

        .kwd {
            color: darkorange;
        }
    }

    p > code, .description code {
        background-color: transparent;
        color: pink;
        font-weight: normal;
    }

}
