body {
    margin: 0;
}

html {
    font-size: 16px;
}

html, body, section {
    background-color: #FBFBFB;
}

h4.name {
    color: DarkCyan;
    font-size: 24px;
}

section {
    border-bottom: none;
}

div#main {
    margin-left: 220px;
    float: none;
    max-width:1200px;
}

code {
    background-color: LightYellow;
    color: Maroon !important;
}

nav {
    background-color: White;
    border-width: 1px 1px 1px 0;
    border-color: #DDD;
    border-style: solid;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 20px 20px 20px;
    width: auto;
    position: fixed;
    font-size: 16px;
    margin-top: 15px;
    float: none;
}

nav h3 {
    color: #4d4e53;
    font-size: 20px;
}

.nav li a {
    color: #707070 !important;
}

.home-link {
    padding-top: 20px;
}

.home-link a {
    font-size: 16px;
    font-weight: bold;
}
