body {
    margin: 0;
}

html {
    font-size: 16px;
}

html, body, section {
    background-color: #F5F5F5
}

.prettyprint {
    width: auto;
}

h4.name {
    color: DarkCyan;
    font-size: 26px;
}

section {
    border-bottom: none;
}

div#main {
    margin-left: 260px;
    float: none;
    /*    max-width: 1650px;*/
}

code {
    background-color: LightYellow;
    color: Maroon !important;
}

code span {
    line-height: 20px;
}

nav {
    background-color: #404040;
    padding: 10px 20px 20px 20px;
    width: auto;
    top: 0;
    bottom: 0;
    position: fixed;
    font-size: 18px;
    margin-top: 0px;
    line-height: 24px;
    float: none;
    overflow-y: auto;
}

nav h2 a,
nav h2 a:visited,
nav div.home-link a,
nav div.home-link a:visited {
    color: #FFFFA0;
}

nav ul li a,
nav ul li a:visited {
    color: LightYellow;
    font-size: 17px;
}

nav h3 {
    color: LightGreen;
    font-size: 18px;
}

nav h2 {
    font-size: 20px;
}

.nav li a {
    color: white !important;
}

.home-link {
    padding-top: 20px;
}

.home-link a {
    font-size: 16px;
    font-weight: bold;
}
