body {
    margin: 0;
}

html {
    font-size: 16px;
}

html, body, section {
    background-color: #FBFBFB;
}

h4.name {
    color: DarkCyan;
    font-size: 26px;
}

section {
    border-bottom: none;
}

div#main {
    margin-left: 250px;
    float: none;
    max-width: 1500px;
}

code {
    background-color: LightYellow;
    color: Maroon !important;
}

code span {
    line-height: 20px;
}

nav {
    background-color: White;
    border-width: 0px 1px 0px 0;
    border-color: #DDD;
    border-style: solid;
    padding: 10px 20px 20px 20px;
    width: auto;
    top: 0;
    bottom: 0;
    position: fixed;
    font-size: 18px;
    margin-top: 0px;
    line-height: 24px;
    float: none;
    overflow-y: auto;
}

nav ul li a {
    font-size: 16px;
}

nav h3 {
    color: #4d4e53;
    font-size: 18px;
}

nav h2 {
    font-size: 20px;
}

.nav li a {
    color: #707070 !important;
}

.home-link {
    padding-top: 20px;
}

.home-link a {
    font-size: 16px;
    font-weight: bold;
}
